body{
    padding: 0;
    margin: 0;
}

.login{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 191, 221);
}

.loginContainer{
    padding: 0;
    margin: 0;
    width: 30%;
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: none;
}
.header{
    width: 100%;
    height: 45%;
    padding: 0;
    margin: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 2%;
    transform: 0;
    
}
.header h1{
    color: white;
    font-size: 40px;
    font-family:cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}
.header h2{
    color: white;
    font-size: 35px;
    font-family: cursive;
    margin: 10px 20px;
}
.loginTypeSwitch{
    width: 100%;
    height: 40px;
    padding: 4px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.loginTypeSwitch label{
    margin: 0px 6px;
    font-size: 12px;
    column-rule: rgba(57, 51, 51, 0.379);
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.login-form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-button p{
    font-size: 15px;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;

}
.signUpWithGoogle{
    display: flex;
    background-color: rgb(235, 46, 46);
    width: 30%;
    height: fit-content;
    padding: 4px;
    margin: 4px auto;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;

}
.signUpWithGoogle svg{
    font-size: 30px;
    color: white;
    display: flex;
    margin: 0px 4px;
}
.signUpWithGoogle span{
    color: white;
}
.signUpWithGoogle:hover{
    background-color: red;
    cursor: pointer;
}