* {
  padding: 0;
  margin: 0;
}

.searchPage{
  display: flex;
  flex-direction: row;
}

.searchPage .searchBar{
  width: 250px;
  padding: 10px;
  margin: 20px;
}

.searchPage .searchBar .onAmount{
  margin-bottom: 15px;
}

.searchPage .searchBar .row{
  display: flex;
}

.searchPage .searchBar span{
  padding: 0 4px;
}

/*
body {
  margin: 0;
  padding: 0;
}
.homeScreen_products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.homeScreen_products h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(66, 47, 47);
  padding: 0;
  margin: 10px 20px;
}

.productHolder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px 10px;
  padding: 20px;
}

.items {
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 0;
} */
