*{
 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1300px;
}

.topbar{
    width: 100%;
    height: 200px;
    background-color: rgb(64, 134, 214);
    position: relative; /* to stick to the top during scrolling*/
    top: 0;
    z-index: 999;
    font-size: 13px !important;
    box-shadow: -2px 6px 6px 0px rgba(84,80,80,0.63);
-webkit-box-shadow: -2px 6px 6px 0px rgba(84,80,80,0.63);
-moz-box-shadow: -2px 6px 6px 0px rgba(84,80,80,0.63);

}
.topbarWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.upperTopbar{
    display: flex;
    color: white;
    padding: 4px 5px;
    justify-content: space-between;

}
.bnUM{
    color: white;
    width: 100%;
    font-weight: 100;
    border: 0.4px solid white;
}

.middleTopbar{
    display: flex;
    color: white;
    padding: 4px 5px;
    margin: 7px 0px;
    justify-content: space-around;
    
}
.bottomTopbar{
    display: flex;
    padding: 0px;
    margin: 0px;

}
.upperTopbar_left,.upperTopbar_right{
    display: flex;
}   

.orderNowInfo,.trackOrder,.signUp{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
    align-items: center;
    margin: 0px 20px;   
}

.upperTopbarIcon{
    margin-right: 5px;
    font-size: 20px !important  ;
}

.search{
    display: flex;
    flex:6;
    padding: 0;
}
.searchWrapper{
    background-color: rgba(77, 73, 73, 0.26);
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
.category,.searchInput,.searchbtn{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border:none;
    margin: 0px 4px;
}
.category{
    display: flex;
    flex: 1.5;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.searchCategoryForm{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.searchCategoryForm:active{
    border: solid 1px white;
    color: white;
}
.searchCategory{
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
}

.searchCategoryLable{
    font-size: 14px;
    color: white;
}
.searchInput{
    display: flex;
    flex: 6;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

.searchInputField{
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 12px;
    font-weight: lighter;
    padding-left:5px;
    overflow: none;
    background: transparent;

}
.searchInput:active{
    border: none;
    overflow: hidden;
    background-color: transparent;
}
.category.active,
.searchInput:hover,
.category:hover{
    overflow: none;
    cursor: pointer;
    border: none;
    border: 1px solid white;
}
.searchbtn{
    padding:0;
    margin:0;
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: 0;
}
/* .searchbtn:active,.searchbtn:hover{
    border: none;
    border: 1px solid white;
    cursor: pointer;
    transition: all ease-in-out 0.3ms;
}
 */

.infos{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
.wishlist,.cart{
    margin-right: 30px;
    cursor: pointer;
}

.bottomTobbarWrapper{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    
}
.bottomTopbar-left{
    display: flex;
    flex: 2;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
    
}
.bottomTopbar-right{
    display: flex;
    flex: 6;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;   
}
.lowerSelection{
    list-style: none;
    display: flex;
    justify-content: right;
    width: 100%;
}
.lowerSelectionItem{
    margin: 0px 15px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.allCategorySelection{
    width: 45%;
    color: white;
}
.allcategory{
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-underline-offset: none;

}

/* media for responsiveness */


@media(max-width: 1040px){
    *{
        font-size: 11px;
    }
    .bottomTopbar-left{
        display: flex;
        flex: 2;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
        
    }
    .allCategorySelection{
        width: 35%;
    }

}

@media(max-width: 830px){
    .allCategorySelection{
        width: 34%;
    }
    .bottomTopbar-left{
        flex:3;
    }
}
@media(max-width: 760px){
    .lowerSelectionItem{
        font-size: 14px;
    }
    .searchbtn{
        flex: 0.1;
        padding: 0;
        margin: 0   ;
    }
    .bottomTopbar-left{
        flex: 3;
    }
    .bottomTopbar-right{
        flex: 2;
    }
    .allCategorySelection{
        width: 20%;
    }
    .searchWrapper{
        width: 80%;
        margin: 0px 5px;
    }


}
@media(max-width: 682px){
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 9px;

    }
    .searchWrapper{
        width: 100%;
        margin: 0px 10px;
    }

    .lowerSelectionItem{
        font-size: 12px;
    }
    .bottomTopbar-left{
        flex:2;
        width: 100%;
    }
    .bottomTopbar-right{
        flex:4;
    }
    .allCategorySelection{
        width: 50%;
    }
    .middleTopbar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    .search{
        width: 90%;
        margin: 4px 9px;
        justify-content: center;
        align-items: center;
    }
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 9px;

    }


}


@media(max-width:500px){
    .middleTopbar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    .search{
        width: 95%;
        margin: 4px 9px;
        justify-content: center;
        align-items: center;
    }
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 6px;

    }
}

@media(max-width: 453px){
    .bottomTopbar-left{
        width: 100%;
    }
    .allCategorySelection{
        width: 70%;
    }
    .lowerSelectionItem{
        font-size: 10px;
    }
}
