*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.topbar{
    height: 160px;
    background-color: #34305f;
    position: relative; /* to stick to the top during scrolling*/
    top: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}
.topbarWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}
.upperTopbar{
    display: flex;
    color: white;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: 0.3px solid rgb(201, 198, 198);
}
.upperTopbar_left,.upperTopbar_right{
    display: flex;
}   


.orderNowInfo,.trackOrder,.signUp{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
    align-items: center;
    margin: 0px 20px;   
}

.upperTopbarIconPhone,
.upperTopbarIconEvent,
.upperTopbarIconSetting{
    margin-right: 5px;
    font-size: 15px !important  ;
}

.currency p
,.orderNowInfo p 
,.signUp p
,.trackOrder a{
    display: flex;
    font-size: 11px;
    font-weight: lighter;
    padding-left: 3px;
    margin: 2px 4px;
    color: white;
}





.middleTopbar{
    display: flex;
    color: white;
    padding: 0;
    margin: 10px 10px;
    justify-content: space-around;
    
}



.search{
    display: flex;
    flex: 2.5;
    padding: 0;
    margin: 0;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    align-items: center;

}

.category,.searchInput,.searchbtn{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border:none;
}



.category{
    display: flex;
    flex: 1.5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
}

.searchCategoryForm{
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    border-color: transparent;
    padding-left: 9px;
    margin: 0px 4px;
    
}
.category .MuiSelect-outlined{
    outline: none;
    border: none;
}
.searchCategorySelect{
    list-style: none;
    text-decoration: none;
    width: 90%;
    height: 100%;
    color: rgb(0, 0, 0);
    outline:none;
    border: none;
    background: transparent;
  
}

.searchCategory .MuiSelect-selectMenu p{
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchCategory:focus{
    border: 0;
    outline: none;
}
.searchCategory:active{
    border: 0;
    outline: none;
}


.searchInput{
    display: flex;
    flex: 6;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
}
.searchInput input{
    width: 100%;
    height: 60%;
    outline: none;
    padding: 0px 10px;
    margin: 0px 4px;
    border: none;
    border-left: 1px solid black;

}
.searchInput input:focus{
    border: none;
    background-color: none;
    outline: none;
}




.searchbtn{
    padding:0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 90%;
    flex: 0.7;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: 0;
} 
.searchbtn svg{
    display: flex;
    padding: 4px;
    margin: 4px auto;
    color: #1b8aca;
    transform: 0;
}
.searchbtn svg:hover{
    color: #13577e;
    transform: scale(1.2);
    transition: all ease 0.4s;
}


.infos{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.wishlist,.cartIconHolder{
    cursor: pointer;
    color: white;
    padding: 4px;
    margin: 0px 20px;
    transform: 0;
}
.cartIconHolder a{
    text-decoration: none;
}
.infosIcons{
    color: white;
}
.cartIconHolder span , .wishlist span{
    top: 0;
    color: white;
    bottom: 100%;
    padding: 0;
    margin-left: -5px;
}

.wishlist:hover , .cartIconHolder:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: scale(1.2);
    transition: all ease 0.3s;
    border: none;
    outline: none;
    border-radius: 50%;
}






.bottomTopbar{
    display: flex;
    padding: 0px;
    margin: 0px;

}

.bottomTobbarWrapper{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    
}
.bottomTopbar-left{
    display: flex;
    flex: 2;
    justify-content: left;
    width: 100%;
    margin:0;
    padding: 0;
    
}

.allCategorySelection {
    width: 50%;
    margin: 5px 20px;
    outline: white ;
    height: 90%;
}

.allcategory.MuiInputBase-formControl{
    display: flex;
    background-color: #2a274e;
    color:white;
    height: 60%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
    margin-left: 10px;
    
}
.MuiInputBase-input.MuiOutlinedInput-input{
    display: flex;
    /* background-color: blue; */
    align-items: center;
}


.allcategory{
    display: flex;
    text-decoration: none;
    text-underline-offset: none;
    align-items: center;

}

.allcategory .MuiSelect-selectMenu p{
    color: rgb(255, 255, 255);
    font-size: 12px;
   
}


.allCategoryMenuItem p{
    font-size: 12px;
 
}

.menuItemIcons{
    padding: 0;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin: 0px 11px; 
    
}

.allcategory svg{
    color: rgb(12, 233, 196);
}






.bottomTopbar-right{
    display: flex;
    flex: 6;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;  
}
.lowerSelection{
    list-style: none;
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 0px 34px;
  
}
.lowerSelectionItem{
    margin: 0px 15px;
    font-size: 12px !important;
    color: white;
    cursor: pointer;
    transform: 0;
    
    
}
.lowerSelectionItem:hover{
    transform: scale(1.2);
    color: rgb(31, 221, 228);
    transition: all ease 0.4s;
}


/* media for responsiveness */

@media(max-width: 910px){
    .currency p
    ,.orderNowInfo p 
    ,.signUp p
    ,.trackOrder a{
        font-size: 9px;
      
    }
    .upperTopbarIconPhone,
    .upperTopbarIconEvent,
    .upperTopbarIconSetting{
        font-size: 13px !important  ;
    }
    
    .search{
        flex: 3;
    }
    .searchCategory .MuiSelect-selectMenu p{
        font-size: 9px;      
    }
    
    .searchInput input{
        width: 100%;
        height: 60%;
        font-size: 10px;
        outline: none;
        padding: 0px 10px;
        margin: 0px 4px;
        border: none;
        border-left: 1px solid black;
    
    }
    .infos svg{
        font-size: 16px;
    }
   
    .cartIconHolder span , .wishlist span{
      font-size: 11px;
    }
    .allCategoryMenuItem p{
        font-size: 10px;
    }
    .allcategory .MuiSelect-selectMenu p{
        color: rgb(255, 255, 255);
        font-size: 10px;
    }
    .lowerSelectionItem{
        font-size: 10px !important;              
    }
   
    
    
    
    
    
    
}


@media(max-width: 700px){
    .currency p
    ,.orderNowInfo p 
    ,.signUp p
    ,.trackOrder a{
        font-size: 7px;
      
    } 
    .upperTopbarIconPhone,
    .upperTopbarIconEvent,
    .upperTopbarIconSetting{
        font-size: 11px !important  ;
    }
    
    .search{
        flex: 2.5;       
        height: 30px;               
    }
    .searchCategory .MuiSelect-selectMenu p{
        color: rgb(0, 0, 0);
        font-size: 8px;
    }

    
    .searchInput input{
        width: 100%;
        height: 60%;
        font-size: 9px;
        outline: none;
        padding: 0px 10px;
        margin: 0px 4px;
        border: none;
        border-left: 1px solid black;
    
    }
    .infos svg{
        font-size: 15px;
    }
   
    .cartIconHolder span , .wishlist span{
      font-size: 10px;
    }
    .allCategoryMenuItem p{
        font-size: 9px;
    }
    .allcategory .MuiSelect-selectMenu p{
        color: rgb(255, 255, 255);
        font-size: 9px;
    }
    .lowerSelectionItem{
        font-size: 9px !important;              
    }
    
    
    

}

@media(max-width:560px){
    .currency p
    ,.orderNowInfo p,
    .signUp p 
    ,.trackOrder a ,
    .trackOrder svg,
    .orderNowInfo svg,
    .upperTopbarIconPhone,
    .upperTopbarIconEven{
        display: none;
      
    } 
    .upperTopbar{
     border: none;
    }
  
    
    .upperTopbarIconSetting{
        font-size: 14px !important  ;
        margin: 4px -8px;
    }

    .middleTopbar{
        display: flex;
        flex-direction: column;
        color: white;
        padding: 0;
        margin: 0px 10px;
        justify-content: space-around;
        height: 40%;
        
    }
    .search{
        height: 10%;               
    }
    .searchCategory .MuiSelect-selectMenu p{
        color: rgb(0, 0, 0);
        font-size: 7px;
    }

    
    .searchInput input{
        width: 100%;
        height: 60%;
        font-size: 8px;
        outline: none;
        padding: 0px 10px;
        margin: 0px 4px;
        border: none;
        border-left: 1px solid black;
    
    }
    .infos svg{
        margin-top: 5px;
        font-size: 15px;
    }
   
    .cartIconHolder span , .wishlist span{
      font-size: 10px;
    }
    .allCategoryMenuItem p{
        font-size: 7px;
    }
    .allcategory .MuiSelect-selectMenu p{
        color: rgb(255, 255, 255);
        font-size: 7px;
    }
    .lowerSelectionItem{
        font-size: 8px !important;              
    }
    
    
    
}

@media(max-Width: 350px){
    .infos svg{
        margin-top: 5px;
        font-size: 13px;
    }
    .lowerSelectionItem{
        font-size: 6.5px !important;              
    }

    .allcategory .MuiSelect-selectMenu p{
        color: rgb(255, 255, 255);
        font-size: 6px;
    }
    
}


/* media for responsiveness */


/* @media(max-width: 1040px){
    *{
        font-size: 11px;
    }
    .bottomTopbar-left{
        display: flex;
        flex: 2;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
        
    }
    .allCategorySelection{
        width: 35%;
    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 13px;
    }

} */
/* 
@media(max-width: 830px){
    .allCategorySelection{
        width: 34%;
    }
    .bottomTopbar-left{
        flex:3;
    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 12px;
    }
}
@media(max-width: 760px){
    .lowerSelectionItem{
        font-size: 14px;
    }
    .searchbtn{
        flex: 0.1;
        padding: 0;
        margin: 0   ;
    }
    .bottomTopbar-left{
        flex: 3;
    }
    .bottomTopbar-right{
        flex: 2;
    }
    .allCategorySelection{
        width: 20%;
    }
    .searchWrapper{
        width: 80%;
        margin: 0px 5px;
    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 11px;
    }


}
@media(max-width: 682px){
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 9px;

    }
    .searchWrapper{
        width: 100%;
        margin: 0px 10px;
    }

    .lowerSelectionItem{
        font-size: 12px;
    }
    .bottomTopbar-left{
        flex:2;
        width: 100%;
    }
    .bottomTopbar-right{
        flex:4;
    }
    .allCategorySelection{
        width: 50%;
    }
    .middleTopbar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    .search{
        width: 90%;
        margin: 4px 9px;
        justify-content: center;
        align-items: center;
    }
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 9px;

    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 10px;
    }


}


@media(max-width:500px){
    .middleTopbar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    .search{
        width: 95%;
        margin: 4px 9px;
        justify-content: center;
        align-items: center;
    }
    .currency,.orderNowInfo,.trackOrder,.signUp{
        font-size: 6px;

    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 9px;
    }
}

@media(max-width: 453px){
    .bottomTopbar-left{
        width: 100%;
    }
    .allCategorySelection{
        width: 70%;
    }
    .lowerSelectionItem,.bottomTopbar-left{
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .allCategoryLable,.searchCategoryLable{
        font-size: 8px;
    }
}

 */


