body{
    padding: 0;
    margin: 0;
}

.pm_dash_logo{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
   
}
.pm_dash_logo h1{
    font-size: 25px;
    color: white;
    font-weight: bolder;
    width: 100%;
    display: flex;
    height: fill;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 0;

}

.ant-menu-title-content{
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.ant-menu-item-icon svg{
    font-size: 13px;
    color: white;
}
.ant-layout-sider-children{}

