body{
    padding: 0;
    margin: 0;
}

.productListPageHolder{
    width: 100%;
    padding: 0;
    margin: 0;
    height: fit-content;
    
}

.MuiSvgIcon-root.editProductIcon{
    font-size: 20px;
    color: silver;
    transform: 0;
}

 
.MuiSvgIcon-root.deleteProductBtn{
    font-size: 20px;
    color: red;
    transform: 0;

}
.MuiSvgIcon-root.editProductIcon:hover,
.MuiSvgIcon-root.deleteProductBtn:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
    cursor: pointer;
    font-weight: bolder;
}

.ant-drawer.ant-drawer-right.ant-drawer-open{
    top:65px;
}
.ant-table-cell{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(36, 24, 3);
    font-weight: normal;
}
.ant-table-column-title{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(36, 24, 3);
    font-weight: normal;
}


.ant-btn.ant-btn-default span{
    font-size: 12px;
}
.ant-col.ant-form-item-label label{
    font-size: 12px;
}
.searchBarContainer{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
}
.productList_searchBarWrapper{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.productList_searchBar{
    display: flex;
    padding: 5px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    border: 1px solid rgba(0, 0, 0, 0.182);
    border-radius: 2px;
    width: 25%;
    height: 60%;
  
    
}

.searchIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60px;
    background: transparent;
    padding: 0;
    margin: 0;
    border:  1px solid rgba(0, 0, 0, 0.182);
    border-left: none;

}


.searchIconContainer svg{
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 174, 0);
    cursor: pointer;
    transform: 0;

}
.searchIconContainer svg:hover{
    font-weight: normal;
    transform: scale(1.1);
    transition: all ease 0.4s;
}


.editProduct_imageHolder{
    width: 80%;
    height: 250px;
    object-fit: contain;
    padding: 0;
    margin: 0;
    display: flex;
}

.editProduct_imageHolder img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: contain;
    cursor: pointer;
}


.ant-form-item-required{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
.ant-input{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.149);
    padding: 2px;
    margin: 0;
}

.ant-drawer-title {
    margin: 0;
    color: rgba(81, 56, 5, 0.85);
    font-weight: lighter;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.anticon.anticon-close{
    font-size: 10px;

}
.ant-btn.ant-btn-default{
    display: flex;
    padding: 7px;
    
    align-items: center;
    justify-content: center;
}
.ant-btn.ant-btn-default span,
.ant-btn.ant-btn-primary span{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.ant-btn.ant-btn-primary{
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border:  transparent;
}
