* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}




/* media query for responsivenss */
.homeScreen_products h3 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(66, 47, 47);
  padding: 0;
  margin: 10px 20px;
}
  
.productHolder{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
}
  .homeScreen_products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .productListItems{
    width: 100%;
    margin: 10px 0px;
  
  }



@media(max-width: 1500px){
  .homeScreen_products h3 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(66, 47, 47);
    padding: 0;
    margin: 10px 20px;
  }
    
  .productHolder{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
    .homeScreen_products {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .productListItems{
      width: 100%;
      margin: 10px 0px;
    
    }
  
}



@media(max-width: 1200px){
  .homeScreen_products h3 {
    font-size: 22px;
  
   
  }
  .productHolder{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
  }
  .homeScreen_products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .items {
    display: flex;
    width: 100%;
    padding: 0;
  }
  
}

@media(max-width: 770px){
  .homeScreen_products h3 {
    font-size: 20px; 
  }
  .productHolder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .homeScreen_products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .items {
    display: flex;
    width: 100%;
    
  }
  
}
@media(max-width: 555px){
  .homeScreen_products h3 {
    font-size: 15px; 
  }
  .productHolder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .homeScreen_products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .items {
    display: flex;
    width: 100%;
    
  }
}

@media(max-width: 365px){
  .homeScreen_products h3 {
    font-size: 13px; 
  }
  .productHolder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .homeScreen_products {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .items {
    display: flex;
    width: 100%;
    
  }
}










