body{
  padding: 0;
  margin: 0;
}


.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary{
  color: white;
  background-color: #ffc209;
}

.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: right;
  color: white;
  justify-content: right;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

.imgHolder{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;
}
.imgHolder span{
  font-size: 16px;
  padding: 0;
  margin: 0px 6px;
  color: orange;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.admin_logo_img{
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}