body{
    padding: 0;
    margin: 0;
}

.add_product{
    width: 100%;   
    height: 80vh; 
    display: flex;
    margin: 0;
    padding: 0;
}
.add_product_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
   
}
.information{
    display: flex;
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
 
}
.form_side{
    display: flex;
    flex: 1.4;
    width: 100%;
    height: 100%;
    justify-content: left;
    
}
.image_side{
    display: flex;
    flex: 1;
    border: none;
}


.form_wrapper{
    display:flex;
    flex-direction:column;  
    width: 90%;
    height: fit-content;
    padding: 5px;
    margin: auto;
}


.form_wrapper .item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.form_wrapper .item .row{
    margin-top: 15px;
}

.pricerow{
    display: flex;
    justify-content: space-between;
}

.form_wrapper input{
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.111);
    border-radius: 2px;
    padding: 6px;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;


}

.product_detail_input{
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.111);
    border-radius: 2px;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 6px;


}

.image_side_wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.image_side_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.upload_img{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.upload_info{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 80%;
    height: 100%;
    justify-content: center;
    padding: 3px;
    margin: 0;
   
}

.pName, .pBrand,.pCategory,.pPrice,.pAmount{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
    margin-bottom: 1px;

}
.product_brand_select.ant-select.ant-select-single.ant-select-show-arrow,
.ant-select.product_category_select{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.ant-select-selector{
    width: 100%;
    height: 100%;
}
.pDetail{
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

.buttonHolder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    padding: inherit;
    margin: inherit;
  
}

.add_product_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 15px 6px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(20, 187, 20);
    color: white;
    border: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.111);
    font-weight: lighter;
    cursor: pointer;
    

}

.add_product_cancel_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 4px;
    margin: 15px 6px;
    font-size: 12px;
    font-weight: lighter;
    background-color: rgba(152, 152, 152, 0.23);
    color: black;
    border: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.111);
    cursor: pointer;
    
}