*{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.addProduct{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgb(197, 197, 240), white);

   
}
.nav{
    width: 100%;
    height: 40px;
    background-color: rgb(78, 111, 219);
    justify-content: center;
    align-items: center;
    top: 0%;
}
.nav>h4{
    justify-content: center;
    align-items: center;
    display: flex;

}
.addProductWrapper{
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100%;
    padding: 0;
    margin: 10px 10px;
  
   
}
.title{
    font-size: x-large;
    margin: 10px;
    padding: 0;
}
.form_content{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.form{
    display: flex;
    flex: 6;
    border: none;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
    background-color: white;

    
}


.buttons{
    display: flex;
    flex: 1;
    width: fit-content;
    padding: 10px;
    margin: 5px;
  
    justify-content: right;
    align-items: center;
    align-self: baseline;   
    
}
.addbtn{
    background-color: rgb(37, 218, 46);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 25px;
    padding: 2px;
    margin: 3px 4px;
    cursor: pointer;
    transform: 0;
}

.cancelbtn{
    cursor: pointer;
    background-color: rgb(168, 160, 160);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 45px;
    height: 25px;
    padding: 2px;
    margin: 3px 4px;
    transform: 0;
}
.addbtn:hover,.cancelbtn:hover{
    transition: all ease-out 0.1s;
    box-shadow: 1px -2px 9px 1px rgba(110,102,102,0.78);
    -webkit-box-shadow: 1px -2px 9px 1px rgba(110,102,102,0.78);
    -moz-box-shadow: 1px -2px 9px 1px rgba(110,102,102,0.78);
    border: none;
    font-size: 13px;
}   
.imageSide{
    display: flex;
    flex: 1;
    width: 100%;
    height: 300px;
    background-color: aqua;
    align-items: center;
    justify-content: center;

}
.formSide{
    flex: 3;
    margin-left: 10px;
    width:100%;
    height: 100%;
    display: flex;
}
.productInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

  
}
.moreInfo{
    display: flex;
    flex-direction: column;
    flex: 1.2;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: lighter;
    width: 100%;
    padding: 0;
    margin-left: 0;
}
.input,
.productFormControl{
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 4px;
      
}
.product_detail{
    margin: 6px auto;
    margin-left: 10px;
    padding: 4px;
}











