body{
    padding: 0;
    margin: 0;
}

.login{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 191, 221);
}

.loginContainer{
    padding: 0;
    margin: 0;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: none;
}
.header{
    width: 100%;
    height: 45%;
    padding: 0;
    margin: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 55%;
    border-bottom-left-radius: 2%;
    transform: 0;
    
}
.header h1{
    color: white;
    font-size: 40px;
    font-family:cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}
.header h2{
    color: white;
    font-size: 35px;
    font-family: cursive;
    margin: 10px 20px;
}
.loginTypeSwitch{
    width: 100%;
    height: 40px;
    padding: 4px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.loginTypeSwitch label{
    margin: 0px 6px;
    font-size: 12px;
    column-rule: rgba(57, 51, 51, 0.379);
}
.loginForm{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}
.login-form-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-button p{
    font-size: 15px;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;

}

#normal_login{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    height: 80%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.ant-row.ant-form-item{
    margin-bottom: 7px;
    width: 70%;
}
.ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error{
    height: 40px;
    margin-bottom: 9px;
    padding: 2px;
    font-size: 12px;
}

.ant-form-item-explain-error {
    font-size: 11px;
}